@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    font-size: 16px;
}

::-webkit-scrollbar {
    height: 1rem;
    width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
    height: 0.5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 227, 0.8);
    border-color: rgb(255, 255, 255);
    border-radius: 9999px;
    border-width: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(236, 236, 241);
}

.dark ::-webkit-scrollbar-thumb {
    background-color: rgb(86, 88, 105);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(172, 172, 190);
}

.animated-underline {
    cursor: url("../public/images/new-tab.png") 10 10, pointer;
    background-image: linear-gradient(#33333300, #33333300),
        linear-gradient(to right, #34d399, #00b981);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
}
.animated-underline:hover {
    background-size: 0 2px, 100% 2px;
}

/* 导航栏背景样式 */
.theme-nav {
    background-color: #f9fbff;
}

/* markdown 用户提问消息样式 */
.user-message > div:first-child {
    float: right;
}

.user-message .user-message-style {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    background-color: #eff6ff;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.user-message .user-message-style pre code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.assistant-message {
    padding-left: 10px;
}

.dark .user-message .user-message-style {
    color: #e5e7eb;
    background-color: #e5e7eb47;
}

/* 深度思考消息样式 */
.deepseek-content {
    p {
        font-size: 14px;
        color: #8b8b8b;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }
}

.dark .deepseek-content {
    border-color: #a6a6a6 !important;

    .ant-collapse-arrow {
        color: rgb(228 228 231) !important;
    }

    .ant-collapse-header-text {
        color: rgb(228 228 231) !important;
    }

    .ant-collapse-content {
        background-color: transparent !important;
        border-top: 1px solid #a6a6a6 !important;
    }
    
    p {
        color: #a6a6a6;
    }
}

/* antd下拉菜单暗黑样式 */
.dark .dropdown {
    ul {
        background-color: rgb(55, 65, 81) !important;

        .ant-dropdown-menu-item {
            color: #e5e7eb !important;

            &:hover {
                background-color: rgb(17, 24, 39) !important;
            }
        }

        .ant-dropdown-menu-item-divider {
            background-color: #e5e7eb47 !important;
        }
    }

    .ant-dropdown-arrow::before {
        background-color: rgb(55, 65, 81) !important;
    }
}

/* antd抽屉一层暗黑样式 */
.dark {
    /* 头部叉号 */
    .anticon-close {
        color: #e5e7eb !important;
    }

    .ant-drawer-header {
        border-bottom: 1px solid #e5e7eb3f  !important;
    }

    .ant-select-selector {
        background-color: #1f2937 !important;
        border-color: #374151 !important;
        color: #e5e7eb !important;
    }

    .ant-select-arrow {
        color: #e5e7eb !important;
    }

    .ant-select-selection-item {
        color: #e5e7eb !important;
    }

    .ant-select-dropdown {
        background-color: rgb(17, 24, 39) !important;
        color: #e5e7eb !important;
        .ant-select-item {
            color: #e5e7eb !important;
        }
        .ant-select-item-option-selected{
            background-color: #1f2937 !important;
        }
    }
}

/* antd单选按钮 */
.dark {
    .ant-radio-button-wrapper {
        color: #e5e7eb !important;
        border-color: rgb(17, 24, 39) !important;
        background: rgb(17, 24, 39) !important;
    }

    .ant-radio-button-wrapper-checked {
        color: #e5e7eb !important;
        border-color: rgb(17, 24, 39) !important;
        background: #374151 !important;
    }

    .ant-radio-button-wrapper-checked::before {
        background: rgb(17, 24, 39) !important;
    }
}

/* antd按钮和输入框 */
.dark {
    .ant-btn-color-primary {
        color: #e5e7eb !important;
        background: #374151 !important;
        box-shadow: none !important;
    }

    .ant-btn-color-primary:hover {
        background: rgb(17, 24, 39) !important;
    }

    .ant-form-item-required {
        color: #e5e7eb !important;
    }
}

/* antd 数字输入框 */
.dark {
    .ant-input-number {
        background: #1f2937 !important;
        border-color: #374151 !important;
    }
    .ant-input-number-input {
        color: #e5e7eb !important;
        background: #1f2937 !important;
        box-shadow: none !important;
    }
    .ant-input-number-handler-wrap {
        /* background: #1f2937 !important; */
    }
}

/* antd modal按钮 */
.dark {
    .ant-modal-content {
        background-color: rgb(53, 63, 83) !important;

        .ant-modal-title {
            background-color: rgb(53, 63, 83) !important;
            color: #e5e7eb !important;
        }
        
        .ant-modal-body {
            color: #e5e7eb !important;
        }

        .ant-modal-footer {
            .ant-btn {
                color: #e5e7eb !important;
            }

            .ant-btn-color-default {
                background: rgb(80 88 107) !important;
                border: none !important;
            }

            .ant-btn-color-primary {
                background: rgb(80 88 107) !important;
                border: none !important;
            }

            .ant-btn-color-default:hover {
                background: #60708b !important;
            }

            .ant-btn-color-primary:hover {
                background: #60708b !important;
            }
        }        
    }
}

/* antd message全局提示 */
.ant-message {
    z-index: 9999 !important;
}

/* 对模型设置的 antd select 下拉菜单展示不超出 */
.model-settings {
    .ant-select-selection-item {
        overflow: visible !important;
        font-size: xx-small !important;
    }
}

.ant-select-item-option-content {
    overflow: visible !important;
}
